/* div {
  width: 400px;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgb(93, 92, 92);
  background-color: rgb(173, 166, 166);
  margin: 10px;
}

img {
  width: 98%;
  border-radius: 10px;
  border: 2px solid rgb(93, 92, 92);
} */
